<% title "New Reading Collection" %>

<div class="home form-center">
  <div class="articleformcontainer" id="collection-form">
  </div>
</div>

<%= javascript_pack_tag "collectionForm", defer: true %>
